.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

body{
    background-color:floralwhite;
    padding: 0;
}

.footer{
    background-color: #4C4B4B;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #616C6F ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#EAF0F1;
}

.navbar-dark {
    background-color: #2C3335;
}
.btn{
    margin: 5px;
}

#logo{
    margin-top: 2rem;
}
.pic{
    width: 105px;
    height: 105px;
}
.mid{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
}
.midinfo{
    position: absolute;
    left: 56%;
    top: 70%;
    transform: translate(-50%, -50%)
}
.load{
    height: 300px;
}

.nav-link{
    margin-left: 10px;
    margin-right: 10px;
}

.btn{
    margin: 0;
    background-color:none;
}
.btn-outline-secondary{
    border-color:none;
    background-color:none;
}
.comments{
    margin-top: 35px;
}
